@import "tailwindcss";

.poppins {
  font-family: 'Poppins', sans-serif;
}


.h-screen-6em {
  height: calc(100vh - 6em);
  height: calc(100dvh - 6em); /* Los navegadores modernos usarán esta */
}


html {
  background-color: #dcdcdc;
  overflow-y: hidden;
  overflow-x: auto;
}

/* WebKit: Chrome, Safari, Edge */
/* Scrollbar personalizado para pantallas grandes */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* OCULTAR FLECHAS */
.custom-scrollbar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 #F7F8FA;
}

/* Ocurre solo en pantallas pequeñas (menor a 768px de ancho) */
@media (max-width: 768px) {
  .custom-scrollbar {
    scrollbar-width: none; /* Firefox - Desactiva el scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge - Oculta el scrollbar */
  }
}

